In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [36]:
fish=pd.read_csv("Fish.csv")

In [37]:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [38]:
fish.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [39]:
fish.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [47]:
x=fish.drop(["Species","Weight"],axis=1)
y=fish["Weight"]

In [48]:
x

     Length1  Length2  Length3   Height   Width
0       23.2     25.4     30.0  11.5200  4.0200
1       24.0     26.3     31.2  12.4800  4.3056
2       23.9     26.5     31.1  12.3778  4.6961
3       26.3     29.0     33.5  12.7300  4.4555
4       26.5     29.0     34.0  12.4440  5.1340
..       ...      ...      ...      ...     ...
154     11.5     12.2     13.4   2.0904  1.3936
155     11.7     12.4     13.5   2.4300  1.2690
156     12.1     13.0     13.8   2.2770  1.2558
157     13.2     14.3     15.2   2.8728  2.0672
158     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 5 columns]

In [49]:
y

0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64

In [151]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=51)

In [152]:
x_test

     Length1  Length2  Length3   Height   Width
90      20.0     22.0     23.5   5.5225  3.9950
4       26.5     29.0     34.0  12.4440  5.1340
132     35.5     38.0     40.5   7.2900  4.5765
7       27.6     30.0     35.0  12.6700  4.6900
143     56.0     60.0     64.0   9.6000  6.1440
70      23.0     25.0     28.0  11.0880  4.1440
65      18.4     20.0     22.4   8.8928  3.2928
153     11.4     12.0     13.2   2.2044  1.1484
115     34.6     37.0     39.3  10.5717  6.3666
10      28.4     31.0     36.2  14.2628  5.1042
145      9.3      9.8     10.8   1.7388  1.0476
50      22.1     23.5     26.8   7.3968  4.1272
124     39.8     43.0     45.2  11.9328  7.2772
14      29.4     32.0     37.2  14.9544  5.1708
107     26.9     28.7     30.1   7.5852  4.6354
21      31.4     34.0     39.2  15.9936  5.3704
106     25.9     28.0     29.4   7.8204  4.2042
45      20.5     22.5     25.3   7.0334  3.8203
92      20.5     22.5     24.0   6.7920  3.6240
19      31.0     33.5     38.7  14.4738  5.7276
120     37.0     40.0     42.5  11.7300  7.2250
82      19.0     21.0     22.5   5.6925  3.5550
31      35.0     38.5     44.0  18.0840  6.2920
134     40.0     42.5     45.5   7.2800  4.3225
63      16.3     17.7     19.8   7.4052  2.6730
108     27.8     30.0     31.6   7.6156  4.7716
139     44.8     48.0     51.2   7.6800  5.3760
43      20.4     22.0     24.7   5.8045  3.7544
152     11.3     11.8     13.1   2.2139  1.1659
73      12.5     13.7     14.7   3.5280  1.9992
79      17.2     19.0     20.2   5.6358  3.0502
127     41.1     44.0     46.6  12.4888  7.5958

In [153]:
y_test

90      110.0
4       430.0
132     430.0
7       390.0
143    1550.0
70      273.0
65      150.0
153       9.8
115     690.0
10      475.0
145       6.7
50      200.0
124    1000.0
14      600.0
107     300.0
21      685.0
106     250.0
45      160.0
92      150.0
19      650.0
120     900.0
82      110.0
31      955.0
134     456.0
63       90.0
108     320.0
139     770.0
43      150.0
152       9.9
73       32.0
79       80.0
127    1000.0
Name: Weight, dtype: float64

In [154]:
x_train

     Length1  Length2  Length3   Height   Width
83      19.0     21.0     22.5   5.9175  3.3075
36      16.5     18.2     20.3   5.2983  2.8217
58      28.5     31.0     34.0  10.7440  6.5620
15      29.4     32.0     37.2  15.4380  5.5800
59      33.7     36.4     39.6  11.7612  6.5736
..       ...      ...      ...      ...     ...
122     37.1     40.0     42.5  11.1350  6.6300
105     25.4     27.5     28.9   7.2828  4.5662
149     10.7     11.2     12.4   2.0832  1.2772
16      30.4     33.0     38.3  14.8604  5.2854
57      25.6     28.0     30.8   8.7780  4.6816

[127 rows x 5 columns]

In [155]:
y_train

83     115.0
36      69.0
58     540.0
15     600.0
59     800.0
       ...
122    820.0
105    250.0
149      9.8
16     700.0
57     306.0
Name: Weight, Length: 127, dtype: float64

In [156]:
lr=LinearRegression()

In [157]:
lr

LinearRegression()

In [158]:
lr.fit(x_train,y_train)

LinearRegression()

In [159]:
train_pred=lr.predict(x_train)
test_pred=lr.predict(x_test)

In [160]:
test_pred

array([ 170.06074992,  445.44612636,  589.72357813,  471.39296748,
       1128.77479237,  367.22014916,  193.68634026, -167.78147725,
        723.89403774,  536.28677621, -228.57100152,  251.45481074,
        896.11120368,  584.14300172,  438.33003289,  671.87484245,
        394.61037439,  181.89055449,  208.76868436,  632.09194751,
        814.9204529 ,  136.10012674,  807.83869851,  683.38052709,
         95.12788741,  444.58315707,  816.49989955,  160.78617267,
       -168.665804  ,  -93.71431867,   90.02486074,  954.95166759])

In [161]:
train_pred

array([ 135.31585577,   31.94267851,  551.1772545 ,  610.14817997,
        701.67011321,  952.58976533, -251.43286664,  265.15031719,
        550.58049021,  401.51538685,   97.86712946,  151.88844431,
         13.31766872,  265.03607005,  370.01203728,  526.27254117,
        181.73832924,  130.28005638,  297.04627754,  440.70246816,
         80.4738744 ,  913.6979955 , 1246.70011447, 1128.77479237,
        870.55840217, 1090.33364969,  721.84303553,  734.00610793,
         90.79786826,  240.28665686,  371.47265755,  718.88927453,
        169.74147555,  938.19723015,  173.1985641 ,  366.63313992,
        166.41209674,  163.22909207,  241.52657654,  135.24496885,
        674.25687827,  363.29477555,  143.87839938,  403.87842478,
        927.484505  ,  535.30813606,  464.72999678,  148.16908174,
        192.01529731,  803.85117801,  371.42051092,  843.7474999 ,
        324.52914783,   60.14730368, -165.19694663,  304.06171786,
         24.69628985,  197.41114929,  -38.73082696,  800.26544616,
        418.43144495,  211.50205382,  559.22976104,  346.53035962,
        540.29704498,  195.2990039 ,  -85.47284823,  816.70306218,
        691.17452974,  637.04630935, -181.03805597,  189.90671769,
        222.73437045,  285.22951122,  653.45596602,  -91.083158  ,
         22.84125353,  858.42004739, -150.85975506,  220.21762978,
        274.41018848, -165.23386945,  697.93357561,  642.34375938,
        435.8641786 ,  220.36401636,  368.28378528,  333.57205615,
        736.2970242 ,  884.13492232,  159.62562938,  723.02677135,
        554.69389598,   90.41177982,  714.56041162,  511.42002401,
        629.20016351,  771.75083097,  601.23502774,  300.90763499,
        894.45732892, -184.92458278,   20.44126171,  644.58590211,
        -86.84539538,  299.0184368 , -205.16616677, -203.43055116,
        507.98762558,  669.41982127,  223.4912506 ,  667.7768485 ,
        497.82205115,  794.47603919,  815.60142486, -144.08649958,
        139.41010515,  722.41153752,  176.34922029,  801.54264605,
         75.03175572,  653.18055466,  786.79096032,  376.77387769,
       -181.67206236,  607.67639446,  373.95942558])

In [162]:
error_train=metrics.r2_score(y_train,train_pred)
error_train

0.8865852095828436

In [138]:
error_test=metrics.r2_score(y_test,test_pred)
error_test

0.9001235497690089

In [167]:
fish_corr=fish.corr()
fish_corr

           Weight   Length1   Length2   Length3    Height     Width
Weight   1.000000  0.915712  0.918618  0.923044  0.724345  0.886507
Length1  0.915712  1.000000  0.999517  0.992031  0.625378  0.867050
Length2  0.918618  0.999517  1.000000  0.994103  0.640441  0.873547
Length3  0.923044  0.992031  0.994103  1.000000  0.703409  0.878520
Height   0.724345  0.625378  0.640441  0.703409  1.000000  0.792881
Width    0.886507  0.867050  0.873547  0.878520  0.792881  1.000000

In [169]:
fish_corr["Weight"],sort_values(ascending=False)

NameError: name 'sort_values' is not defined